
body {
    padding-top: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

.navbar {
    background-color: #000;
}

.navbar-toggler-icon {
    color: #2853b0 !important;
}

.navbar-brand img {
    max-height: 40px;
}


@media (max-width: 767px) {
    .navbar-toggler {
        color: #000 !important;
    }

    .get_demo {
        margin-top: 10px;
        
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
}


.navbar-dark {
    color: #000000;
    background-color: #000000;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    max-width: 200px;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.get_demo {
    margin-left: auto;
    margin-right: 10px;
}


@media (min-width: 768px) {
    .col-lg-6 {
        margin-bottom: 20px;
    }
}


/* Footer styles */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    flex: 1;
    text-align: center;
}

.vertical-line {
    height: 100px;
    width: 1px;
    background-color: #000;
}

.horizontal-line {
    width: 100%;
    border-top: 1px solid black;
    margin-top: 20px;
}


.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card:not(:last-child) {
    margin-bottom: 20px;
}

.bg-primary-light {
    background-color: #cce5ff;
}

.fa-first-order {
    font-size: 24px;
    color: #007bff;
}

.o_default_snippet_text {
    color: #343a40;
}

.toggle-text {
    display: none;
}

.toggle-text-button,
.toggle-text-button1 {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .col-lg-6 {
        margin-bottom: 20px;
    }
}

.card-text {
    text-align: justify;
}

.card {
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    box-shadow: none; 
}
